**/__pycache__/

.vscode/
*.pyc
database.db

data/*
logs/
pids/
celerybeat-schedule
celerybeat-schedule.db
*.celerybeat
!data/example/

egg.info/
*.egg
*.egg-info/
dist/
build/
*.whl
*.tar.gz
*.zip
*.db
*.sqlite3
*.log
*.pid

dump.rdb