tensorflow == 2.2.0
scipy==1.4.1 
tensorboard==2.2.0
filterpy
cheroot != 8.4.4
protobuf == 3.20.0
numpy == 1.19.5
rich
wind-pypcd

# cherrypy(will be deprecated in future)
cherrypy
jinja2

# fastapi
fastapi
uvicorn[standard]
sqlmodel
boto3
python-multipart
pydantic

# celery 相关依赖
celery[redis]
redis
flower
